.pre-made-grid {
    width: 62%;
    height: 70vh;
    margin: auto;
    background-color: #CAEBF2;
    border-radius: 8px;
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.747);
    text-align: center;
    margin-bottom: 60px;
}

.pre-made {
    display: grid;
    grid-template-columns: auto 85px 65px 20px 150px;
    grid-template-rows: 85px 85px 85px 85px;
    width: 74%;
    margin: auto;
}

.meat-lovers-img {
    background-image: url(../img/meatlovers.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 4px;
}

.white-img {
    background-image: url(../img/whitechicken.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 4px;
}

.supreme-img {
    background-image: url(../img/supreme.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 4px;
}

.veggie-img {
    background-image: url(../img/veggie.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 4px;
}