@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #EFEFEF;
}

.menu {
    background-color: white;
    text-align: right;
    margin-bottom: 32px;
}

.menu li{
    display: inline-block;
}

.menu li a {
    font-size: large;
    display: inline-block;
    padding: 20px;
    font-family: 'Pacifico', Arial;
    color: #353535;
}

.menu li a:hover {
    font-weight: bold;
    background-color: #FF3B3F;
    border-radius: 4px 4px 0 0;
    color: black;
}